@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Radzen.Blazor.Rendering
@using SmartSwitchWeb.Hubs
@using SmartSwitchWeb.Data
@using SmartSwitchWeb.Services
@inject DialogService DialogService
@inject NavigationManager navigationManager

<div >
    <div>
    <RadzenScheduler @ref=@scheduler LoadData=@OnLoadData SlotRender=@OnSlotRender style="height: 768px" TItem="WorkLoadEvent" Data=@appointments StartProperty="Start" EndProperty="End"
        TextProperty="Text" SelectedIndex="2"
        SlotSelect=@OnSlotSelect AppointmentSelect=@OnAppointmentSelect AppointmentRender=@OnAppointmentRender>
        <RadzenDayView />
        <RadzenWeekView />
        <RadzenMonthView />
    </RadzenScheduler>
    </div>
</div>

@code {
    private string _hubUrl;
    private HubConnection _hubConnection;
    private bool _isOnline;
    RadzenScheduler<WorkLoadEvent> scheduler;
    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();
    IList<WorkLoadEvent> appointments = new List<WorkLoadEvent>
    {
        new WorkLoadEvent { Start = DateTime.Today.AddDays(-2), End = DateTime.Today.AddDays(-2), Text = "Birthday", Data= new List<int> {3,2}},
        new WorkLoadEvent { Start = DateTime.Today.AddDays(-11), End = DateTime.Today.AddDays(-10), Text = "Day off", Data= new List<int> {3,2} },
        new WorkLoadEvent { Start = DateTime.Today.AddDays(-10), End = DateTime.Today.AddDays(-8), Text = "Work from home", Data= new List<int> {3,2} },
        new WorkLoadEvent { Start = DateTime.Today.AddHours(10), End = DateTime.Today.AddHours(12), Text = "Online meeting", Data= new List<int> {3,2} },
        new WorkLoadEvent { Start = DateTime.Today.AddHours(10), End = DateTime.Today.AddHours(13), Text = "Skype call", Data= new List<int> {3,2} },
        new WorkLoadEvent { Start = DateTime.Today.AddHours(14), End = DateTime.Today.AddHours(14).AddMinutes(30), Text = "Dentist appointment" , Data= new List<int> {3,2}},
        new WorkLoadEvent { Start = DateTime.Today.AddDays(1), End = DateTime.Today.AddDays(12), Text = "Vacation", Data= new List<int> {3,2} },
    };

    void OnSlotRender(SchedulerSlotRenderEventArgs args) 
    {
        // Highlight today in month view
        if (args.View.Text == "Month" && args.Start.Date == DateTime.Today)
        {
            args.Attributes["style"] = "background: rgba(255,220,40,.2);";
        }

        // Highlight working hours (9-18)
        if ((args.View.Text == "Week" || args.View.Text == "Day") && args.Start.Hour > 8 && args.Start.Hour < 19)
        {
            args.Attributes["style"] = "background: rgba(255,220,40,.2);";
        }
    }

    async Task OnSlotSelect(SchedulerSlotSelectEventArgs args)
    {
        WorkLoadEvent data = await DialogService.OpenAsync<AddAppointmentPage>("Add Appointment",
            new Dictionary<string, object> { { "Start", args.Start }, { "End", args.End } });

        if (data != null)
        {
            appointments.Add(data);
            // Either call the Reload method or reassign the Data property of the Scheduler
            await scheduler.Reload();
        }
    }

    async Task OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<WorkLoadEvent> args)
    {
        await DialogService.OpenAsync<EditAppointmentPage>("Edit Appointment", new Dictionary<string, object> { { "Appointment", args.Data } });

        await scheduler.Reload();
    }

    void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<WorkLoadEvent> args)
    {
        // Never call StateHasChanged in AppointmentRender - would lead to infinite loop

        if (args.Data.Text == "Rot")
        {
            args.Attributes["style"] = "background: red";
        }
    }
    protected  async override  Task OnInitializedAsync()
    {
        try
        {
            _isOnline = true;
            string baseUrl = navigationManager.BaseUri;

            _hubUrl = baseUrl.TrimEnd('/') + FrontEndHub.HubUrl;
            _hubConnection = new HubConnectionBuilder()
                .WithUrl(_hubUrl)
                .Build();

            await _hubConnection.StartAsync();
        }
        catch (Exception e)
        {
            //_message = $"ERROR: Failed to start chat client: {e.Message}";
            //_isChatting = false;
        }

    }
    async Task OnLoadData(SchedulerLoadDataEventArgs args)
    {

        // Get the appointments for between the Start and End
        appointments = IcalCalendar.GetWorkloads(args.Start, args.End);
        _isOnline = true;
    }
}